{% extends 'base.html' %}
{% block content %}
<div class="page-content-wrapper" >
    <div class="container" style = "align-self: center; ">
        <h4 class="page-title">Ahora estamos en la pagina para enviar info al cliente</h4>
    <div>
        <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/crearCliente' " style="text-align:center;"> 
                        Registrar InfoCliente
        </button>
    </div>
    </div>

{% endblock %}